{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodaj Quiz</title>
    <link rel="stylesheet" href="{% static 'quizes/style.css' %}">
</head>
<body>
    <h1>Dodaj nowy quiz</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Dodaj Quiz</button>
    </form>

    <!-- Link do strony głównej -->
    <a href="{% url 'main' %}">Powrót na stronę główną</a>
</body>
</html>
