{% extends "base_generic.html" %}

{% block content %}
    <h1>Witaj na stronie głównej!</h1>

    <nav>
        <ul>
            <li><a href="{% url 'create_quiz' %}">Stwórz quiz</a></li>
        </ul>
    </nav>

    <h2>Nowe quizy:</h2>
    <ul>
        {% for quiz in newest_quizzes %}
            <li><a href="{% url 'solve_quiz' quiz.id %}">{{ quiz.title }}</a></li>
        {% endfor %}
    </ul>

    <h2>Popularne quizy:</h2>
    <ul>
        {% for quiz in popular_quizzes %}
            <li><a href="{% url 'solve_quiz' quiz.id %}">{{ quiz.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
