{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona Główna</title>
    <link rel="stylesheet" href="{% static 'quizes/style.css' %}">

</head>
<body>
    <h1>Witaj w aplikacji z quizami</h1>


    <nav>
        <a href="{% url 'quiz-add' %}">Dodaj Quiz</a> | 
        <a href="{% url 'quiz-list' %}">Lista Quizów</a>
    </nav>

    <hr>


    <h2>10 Ostatnich Quizów:</h2>
    <ul>
        {% for quiz in ostatnie_quizy %}
            <li>
                <strong>{{ quiz.title }}</strong><br>
                {{ quiz.description|default:"Brak opisu" }}<br>
                Dodano: {{ quiz.created_at|date:"d M Y H:i" }}
            </li>
        {% empty %}
            <p>Brak quizów do wyświetlenia.</p>
        {% endfor %}
    </ul>
</body>
</html>
