{% extends "base_generic.html" %}

{% block content %}
    <h2>Rozwiązywanie quizu: {{ quiz.title }}</h2>

    <form method="post">
        {% csrf_token %}
        
        {% for question in questions %}
            <div class="question">
                <p>{{ question.question_text }}</p>
                <label>
                    <input type="radio" name="{{ question.id }}" value="1"> {{ question.answer_1 }}
                </label>
                <label>
                    <input type="radio" name="{{ question.id }}" value="2"> {{ question.answer_2 }}
                </label>
                <label>
                    <input type="radio" name="{{ question.id }}" value="3"> {{ question.answer_3 }}
                </label>
            </div>
        {% endfor %}

        <button type="submit">Zatwierdź odpowiedzi</button>
    </form>
{% endblock %}
